@model LAB1.Models.Operator.OperatorApproveModel

@{
    foreach (var client in Model.Clients)
    {
        <table class="table table-hover table-dark">
            <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>@client.Id.ToString()</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>@client.Name</td>
            </tr>
            <tr>
                <th scope="row">Surname</th>
                <td>@client.Surname</td>
            </tr>
            <tr>
                <th scope="row">Patronymic</th>
                <td>@client.Patronymic</td>
            </tr>
            </tbody>
        </table>
    }

}

<form asp-action="Approve" asp-controller="Operator" asp-anti-forgery="true" method="post">
    <div class="form-group">
        <input type="submit" value="Approve" class="btn"/>
    </div>
</form>