@model LAB1.Models.Client.ClientAdditionalInfoModel

<form asp-action="GetAdditionalInfo" asp-controller="Client" asp-anti-forgery="true" method="post">
    <div class="validation" asp-validation-summary="All"></div>
    <div>
        <div>
            <label asp-for="PassportNumberAndSeries">Passport Number And Series</label><br/>
            <input type="text" asp-for="PassportNumberAndSeries"/>
            <span asp-validation-for="PassportNumberAndSeries"></span>
        </div>
        <div>
            <label asp-for="IdentificationNumber">Identification Number</label><br/>
            <input type="text" asp-for="IdentificationNumber"/>
            <span asp-validation-for="IdentificationNumber"></span>
        </div>
    </div>
    <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" asp-for="@Model!.IdOfSelectedCompany">
                <option selected>Choose...</option>
                @foreach (var company in Model.Companies)
                {
                    if ((bool)!company.IsItBank)
                    {
                        <option value="@company.Id">@company.LegalName</option>
                    }
                }
    
            </select>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn"/>
            </div>
        </div>
</form>