@model LAB1.Models.Client.ClientAdditionalInfoModel

<form asp-action="GetAdditionalInfo" asp-controller="Client" asp-anti-forgery="true" method="post">
    <div class="validation" asp-validation-summary="All"></div>
    <div>
        <div>
            <label asp-for="PassportNumberAndSeries">Passport Number And Series</label><br/>
            <input type="text" asp-for="PassportNumberAndSeries"/>
            <span asp-validation-for="PassportNumberAndSeries"></span>
        </div>
        <div>
            <label asp-for="IdentificationNumber">Identification Number</label><br/>
            <input type="text" asp-for="IdentificationNumber"/>
            <span asp-validation-for="IdentificationNumber"></span>
        </div>
        <div>
            <input type="submit" value="Complete Now!"/>
        </div>
    </div>
</form>