@model LAB1.Models.Client.GetTheSalaryProjectForClientModel

<h4>Get The Salary Project</h4>


<form asp-action="GetTheSalaryProject" asp-controller="Client" asp-anti-forgery="true" method="post">

    @if (Model.ClientBankAccounts.Count != 0)
    {
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" asp-for="@Model!.IdOfSelectedBankAccount">
                <option selected>Choose...</option>

                @foreach (var bankAccount in Model.ClientBankAccounts)
                {
                    <option value="@bankAccount.Id">@bankAccount.Name</option>
                }


            </select>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn" />
            </div>
        </div>
    }
</form>