@model RoleModel

<h2>Profile page</h2>

<form asp-action="Profile" asp-controller="Account" asp-anti-forgery="true" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Options</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" asp-for="@Model!.IdOfSelectedRole">
            <option selected>Choose...</option>
            @foreach (var i in Model.Roles)
            {
                <option value="@i.Id">@i.Name</option>
            }

        </select>
        <div class="form-group">
            <input type="submit" value="Become Manager" class="btn"/>
        </div>
    </div>

</form>