@model RoleModel

<h2>Profile page</h2>

<form asp-action="Profile" asp-controller="Account" asp-anti-forgery="true" method="post">
    <div class="input-group mb-3">
        <select class="custom-select" id="inputGroupSelect01" asp-for="@Model!.IdOfSelectedRole">
            <option selected>Choose...</option>
            @foreach (var i in Model.Roles)
            {
                if (!Model.User.Role.Equals(i))
                {
                    <option value="@i.Id">@i.Name</option>
                }
            }

        </select>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn"/>
        </div>
    </div>

</form>