@model LAB1.Models.Manager.ManagerRollBackSpecialistSendModel

<form asp-action="RollBackSpecialistSend" asp-controller="Manager" asp-anti-forgery="true" method="post">
    <div class="validation" asp-validation-summary="All"></div>

    <br>
    <hr class="style1">
    <br>
    <br>

    @foreach (var request in Model.Manager.SendClientsList)
    {
        <table class="table table-hover table-dark">
            <tbody>
            <tr>
                <th scope="row">Id Of Request</th>
                <td>@request.Id.ToString()</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>@request.Client.Name</td>
            </tr>
            </tbody>
        </table>
    }

    <br>
    <br>
    <hr class="style1">
    <br>


    @if (Model.Manager.SendClientsList!.Count != 0)
    {
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" asp-for="@Model!.IdOfSelectedRequest">
                <option selected>Choose Bank Account</option>
                @foreach (var request in Model.Manager.SendClientsList)
                {
                    <option value="@request.Id">@request.Client.Name</option>
                }
            </select>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn"/>
            </div>
        </div>
    }
</form>