@model LAB1.Models.Specialist.SendRequestForSalaryProjectModel

<form asp-action="SendRequestForSalaryProject" asp-controller="Specialist" asp-anti-forgery="true" method="post">
    @foreach (var client in Model.Clients)
    {
        <table class="table table-hover table-dark">
            <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>@client.Id.ToString()</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>@client.Name</td>
            </tr>
            <tr>
                <th scope="row">Surname</th>
                <td>@client.Surname</td>
            </tr>
            <tr>
                <th scope="row">Patronymic</th>
                <td>@client.Patronymic</td>
            </tr>
            </tbody>
        </table>
    }
    <div class="form-group">
        <input type="submit" value="Submit" class="btn"/>
    </div>
</form>