@model LAB1.Models.Administrator.AdministratorGetAdditionalInfoModel

<h1>Choose the bank where you work</h1>

<form asp-action="GetAdditionalInfo" asp-controller="Administrator" asp-anti-forgery="true" method="post">
    <div class="input-group mb-3">
        <select class="custom-select" id="inputGroupSelect01" asp-for="@Model!.SelectedBankId">
            <option selected>Choose one</option>
            @foreach (var bank in Model.Banks)
            {
                <option value="@bank.Id">@bank.LegalName</option>
            }

        </select>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn" />
        </div>
    </div>

</form>