@model LAB1.Models.Bank.BankProfileModel

<form asp-action="BankProfileForClient" asp-controller="Bank" asp-anti-forgery="true">

    <h3>Bank @Model.Bank.Type @Model.Bank.LegalName</h3>
    <table class="table table-hover table-dark">
        <tbody>
        <tr>
            <th scope="row">Id</th>
            <td>@Model.Bank.Id.ToString()</td>
        </tr>
        <tr>
            <th scope="row">Address</th>
            <td>@Model.Bank.LegalAddress</td>
        </tr>
        </tbody>
    </table>


</form>

<table class="table table-hover table-dark">
    <tbody>
    <tr>
        <th scope="row">
            <form asp-action="OpenBankAccountForClient" asp-controller="Bank" asp-anti-forgery="true" method="get">
                <input class="btn btn-primary" type="submit" value="Open An Bank Account">
            </form>
        </th>
        <td>
            <form asp-action="OpenBankDepositForClient" asp-controller="Bank" asp-anti-forgery="true" method="get">
                <input class="btn btn-primary" type="submit" value="Open An Bank Deposit">
            </form>
        </td>
    </tr>
    <tr>
        <th scope="row">
            <form asp-action="CloseBankAccountForClient" asp-controller="Bank" asp-anti-forgery="true" method="get">
                <input class="btn btn-danger" type="submit" value="Close An Bank Account">
            </form>
        </th>
    </tr>
    <tr>
        <th scope="row">
            <form asp-action="GetMoneyFromBankAccountForClient" asp-controller="Bank" asp-anti-forgery="true" method="get">
                <input class="btn btn-success" type="submit" value="Get Money From An Bank Account">
            </form>
        </th>
    </tr>
    <tr>
        <th scope="row">
            <form asp-action="MoveMoneyBetweenBankAccount" asp-controller="Bank" asp-anti-forgery="true" method="get">
                <input class="btn btn-warning" type="submit" value="Move Money Between Bank Accounts">
            </form>
        </th>
    </tr>
    <tr>
        <th scope="row">
            <form>
                <input class="btn btn-success" type="submit" value="Get An Installment Plan">
            </form>
        </th>
    </tr>
    </tbody>
</table>