@model LAB1.Models.Bank.OpenBankAccountForClientModel

<h4>Open An Bank Account</h4>

<form asp-action="OpenBankAccountForClient" asp-controller="Bank" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="All"></div>
    <div>
        <div>
            <label asp-for="Name">Name</label><br />
            <input type="text" asp-for="Name" />
        </div>
        <div>
            <label asp-for="InitiallAmountOfMoney">InitiallAmountOfMoney</label><br />
            <input type="text" asp-for="InitiallAmountOfMoney" />
        </div>
        <div>
            <input type="submit" value="Open It Rn!" />
        </div>
    </div>
</form>